<html>
    <head>
        <title>View Turf</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/viewturf.css' %}">

    </head>
    <body>
        <table>
            {% for vt in data1 %}
            <tr>
                <td><img src="{{vt.photo}}" width="1024" height="768"></td>
                <td>
                    <div class="details">
                        Turf ID : {{vt.turf_id}}<br><br>
                        Turf Name : {{vt.turf_name}}<br><br>
                        <button name="addslot" id="addslot"><a href="">ADD SLOT</a></button><br><br>
                        <button name="Edit" id="edit"><a href="/edit_turf/{{vt.id}}">Edit Details</a></button><br><br>
                        <button name="Remove" id="remove"><a href="/removeturf/{{vt.id}}">Remove Turf</a></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>